<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/css/usercommon.css">
</head>
<body>
  <div class="container">
    <h2>Forgot Password</h2>
    <form id="forgotPasswordForm" action="/user/forgotPassword" method="POST">
      <label for="email">Enter your email:</label>
      <input type="email" id="email" name="email">
      <% if(typeof email !=='undefined' && email !==null) { %>
        <div class=" text-center" style="color: red;">
          <%= email %>
        </div>
        <% } %>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
