<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/82fc123f21.js" crossorigin="anonymous"></script>


</head>
<body>
    <header>
        <div class="container-header">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home" style="color: black;font-size: 35px;">TJ Watches</a>
                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 20px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/Mens">MENS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/Women">WOMENS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">PROFILE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/cart/<%= userid %>">CART</a>
                        </li>
                        <li class="nav-item">
                          <a href="/userLogout" class="nav-link style="color: black;">LOGOUT</a>
                        </li>
                   

                    </li>
                    </ul>
                    <span style="display:flex; justify-content: flex-end ;"> <input class="form" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button></span>
                       
                      

                        
                      
                </div>
            </div>
        </nav>
        
    </header>
</body>
</html>